.card_edit {
  background-color: #b8de6f !important;
  height: 50px;
}
.card_edit{
  // background-color: white;
  background-color: #f1e189 !important;
  height: 100%;
  margin: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

