// Specific CSS for your home-page
h2 a {
  color: black;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;

  &:hover {
    color: orange;
    text-decoration: none;
  }
}

.map_container {
  border-color: 4px solid black;
}

body {
  background-image: url('stuff/back_fruits.png');
}

strong {
  color: #ec0101;
}

.ima_tag {
  height: 100%;
  width: 180px;
  border-radius: 4px;
  object-fit: cover;
    &:hover {
      transform: scale(1.2);
      transition: transform .3s;
    }
}

.container_card {
  background-color: white;
  height: 180px;
  border-radius: 4px;
  box-shadow: 8px 4px 8px 4px #0000001c;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 4px;
  display: flex;
}

.card_infos{
  margin-left: 24px;
}

.card_infos h2 a {
  color: black;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  margin: 0;

    &:hover {
    color: orange;
    text-decoration: none;
  }
}

.card_infos p {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
}

.buttons_1 {
  padding-top: 36px;
}

.container_cards_2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.trans_from {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 12px;
}

.search {
  margin-top: 8px;
}
