.index_container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 4px #0000001c;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
}

.product-info {
  border: 2px solid lightgray;
  border-style: groove;
  height: 100%;
  margin: 4px;
  padding: 8px;
  border-radius: 4px
}

.index_items h4{
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: lighter;
  color: rgb(133, 215, 241);
}

.index_items h2 a {
  color: black;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  margin: 0;

    &:hover {
    color: orange;
    text-decoration: none;
  }
}

.index_new {
  background-color: lightgray;
  height: 100%;
  margin: 4px;
  padding: 8px;
  border-radius: 4px
}
