.user_container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 4px #0000001c;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
}

.user_login {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 4px #0000001c;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
  width: 1000px;
  margin: auto;
}
