table {
  border-collapse: collapse;
}

th, td {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  border-right: 2px solid #ddd;
}

th, td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ddd;
}
tr:hover {
  background-color: lightgrey;
  border-radius: 8px;
}

tr:nth-child(even) {background-color: #e6e6ff;}

.trans_total {
  background-color: white;
  margin-top: 8px;
}
