<div class="map_box">
  <h3><%=  product.name %></h3>
  <p>Available: <%=  product.stock %></p>
  <p><%=  product.address %> <i class="fas fa-globe-americas"></i></p>
  <!-- <= image_tag("global-net.jpg") %> -->
</div>
